/* General purpose styling for my site */

body {
	font-family : Helvetica, sans-serif;
	font-size: 10pt;
	color : #303030;
	background-image : url('../images/newbg.png');
	margin : 0px;
}

#sect_container {
	margin : auto;
	width: 75%;
	margin-bottom: 3em;
	color : #303030;
}

#sect_container h2{
	/*text-shadow : 0 0 0.3em white;*/
	color : #e8e8e8;
	opacity: 0.9;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
  font-size: 18pt;
  font-family: 'consolas';
  margin-bottom: 5px;
  padding-left : 20px;
background: -moz-linear-gradient(left,  rgba(24,45,63,0) 0%, rgba(24,45,63,0.19) 1%, rgba(27,48,66,0.75) 4%, rgba(69,86,102,0.75) 41%, rgba(69,86,102,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(24,45,63,0)), color-stop(1%,rgba(24,45,63,0.19)), color-stop(4%,rgba(27,48,66,0.75)), color-stop(41%,rgba(69,86,102,0.75)), color-stop(100%,rgba(69,86,102,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(24,45,63,0) 0%,rgba(24,45,63,0.19) 1%,rgba(27,48,66,0.75) 4%,rgba(69,86,102,0.75) 41%,rgba(69,86,102,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(24,45,63,0) 0%,rgba(24,45,63,0.19) 1%,rgba(27,48,66,0.75) 4%,rgba(69,86,102,0.75) 41%,rgba(69,86,102,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(24,45,63,0) 0%,rgba(24,45,63,0.19) 1%,rgba(27,48,66,0.75) 4%,rgba(69,86,102,0.75) 41%,rgba(69,86,102,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(24,45,63,0) 0%,rgba(24,45,63,0.19) 1%,rgba(27,48,66,0.75) 4%,rgba(69,86,102,0.75) 41%,rgba(69,86,102,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00182d3f', endColorstr='#00455666',GradientType=1 ); /* IE6-9 */
		outline : none;


}

h3 {
	display : inline;
	font-family : 'consolas';
	font-weight : normal;
}

#sect_container span {
	font-weight: bold;
}

.main_sect {
	border: 3px #303030 ridge;
	padding: 10px 10px 0px 10px;
	border-bottom-right-radius: 50px;
	background-color: rgba(213,226,255,0.6);
	
}

#languages > div{
	float: left;
	margin-right: 20px;
}

#tech {
	overflow: hidden;
}

#classes {
	clear : left;
}

#info { 
	margin : auto;
	width : intrinsic;
	overflow: hidden;
}

#contact, #name {
	float : left;
	padding-left : 5px;
	vertical-align: center;
	margin : 0px;
}

#name {
	font-size: 40px;
	font-weight: bold;
	font-family: 'consolas';
	text-shadow: 2px 2px 0px gray;
}

#contact {
	margin-top: 1.8%;
	font-weight: bold;	
}

#top_bar, .main_sect {
	box-shadow: 0px 6px 9px #303030;
}

#top_bar {
	background-color: rgba(213,226,255,0.6);
	margin-top: 20px;
}

a {
	border-bottom: 1px dashed #303030;
	text-decoration: none;
	color : #303030;
}

a:hover {
	border-bottom: 1px dashed #6781bb;
	text-decoration: none;
	color :#6781bb;
}

li { 
	list-style-type: square;
}

dt, ul, dl {
	margin-top : 3px;
}

#languages, dl {
	margin-left : 25px;
}

h4 { 
	margin : 0px;
}

dt {
	font-weight: bold;
}

#projects p {
	padding-left : 25px;
}
