[submodule "home/projects/ear-trainer"]
	path = home/projects/ear-trainer
	url = git://github.com/gglover/ear-trainer.git
[submodule "home/projects/pokemon-palettes"]
	path = home/projects/pokemon-palettes
	url = git://github.com/gglover/pokemon-palettes.git
[submodule "home/projects/human-tetris"]
	path = home/projects/human-tetris
	url = git://github.com/gglover/bristol-hack-2015.git
