<!DOCTYPE html>

<html>
	<head>
		<title>Gus Glover</title>
		<meta charset="utf-8" />
		<link href="stylesheets/gus.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div id="main">
			<header>Gus Glover</header>

			<div id="section-container">
				<div class="section-link shown-section" id="about">ABOUT</div>
				<div class="section-link" id="projects">PROJECTS</div>
				<div class="section-link" id="resume">RESUME</div>
			</div>

			<div id="content">
				
				<!-- About section -->
				<div id="about-content" class="shown-section">
					I'm a student in my third year at The University of Washington working on a degree in computer science. I specialize in performant and maintainable front-end web development. 
				</div>

				<!-- Projects section -->
				<div id="projects-content">
					<h2>MOON GAME ITS MOONS</h2>
					<h2>CAMPUS ROUTE FINDER?</h2>
					<h2>POKEMON VISUALIZE</h2>
					<h2>COLLAB SEQUENCER YAY</h2>
				</div>
				
				<!-- Resume Section -->
				<div id="resume-content">
					<h2>Education</h2>
					<div id="education" class="main_sect">
						<h3>University of Washington, Seattle
							Autumn 2011 – Present</h3>
						<ul>
							<li>3.69 cumulative GPA</li>
							<li>Dean's List every quarter enrolled</li>
						</ul>
					</div>

					<h2>Class Experience</h2>
					<div id="school" class="main_sect">
						<dl>
							<dt>CSE 311, 312</dt><dd>Discrete mathmatics</dd>
							<dt>CSE 331</dt><dd>Software engineering techniques</dd>
							<dt>CSE 332</dt><dd>Data structures and algorithms</dd>
							<dt>CSE 341</dt><dd>Programming languages</dd>
							<dt>CSE 344</dt><dd>Databases</dd>
							<dt>INFO 424</dt><dd>Data visualization</dd>



					<h2>Work Experience</h2>
					<div id="work" class="main_sect">				
						<h3>Socrata Inc. June 2013 – September 2013</h3>
						<ul>
							<li>UI redesign for creating and editing data visualizations.</li>
							<li>Extensive front-end work with large-scale Javascript application.</li>
						</ul>
						<h3>UW Dept. of Occupational and Envr. Health Sciences July 2012 – December 2013</h3>
						<ul>
							<li>Worked in a lab producing air-monitoring devices.</li>
							<li>Assembled devices at residential sites in South Seattle.</li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" rel="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js" rel="text/javascript"></script>
	<script src="javascripts/gus.js" rel="text/javascript"></script>
</html>