html, body {
	height: 100%;
	margin: 0;
}

body {
	background: repeating-linear-gradient(
	  90deg,
	  #808080,
	  #808080 2px,
	  #fff 2px,
	  #fff 4px
	);
	padding-left: 18px;
	overflow-x: hidden;
}

#content {
	width: calc(100vw - 18px);
	background-color: white;
}

header::after, footer::before {
	content: '';
	height: 12px;
	position: absolute;
	background: repeating-linear-gradient(
	  0deg,
	  #808080,
	  #808080 2px,
	  #fff 2px,
	  #fff 4px
	);
	width: 510px;
	max-width: calc(100vw - 26px);
	left: 26px;
	border-left: 2px solid #808080;
}

h2::before {
  background: repeating-linear-gradient(
	  0deg,
	  #808080,
	  #808080 2px,
	  #fff 2px,
	  #fff 4px
	);
  content: '';
  height: 12px;
  position: absolute;
  width: 15px;
  left: -20px;
  top: 11px;
  z-index: 10;
  border-left: 2px solid #808080;

}

h2::after {
	background: repeating-linear-gradient(
	  0deg,
	  #808080,
	  #808080 2px,
	  #fff 2px,
	  #fff 4px
	);
  content: '';
  height: 12px;
  position: absolute;
  width: 100%;
  margin-left: 6px;
  top: 11px;
}

header, footer, main {
	max-width: 500px;
	background-color: white;
	padding-left: 20px;
	overflow: hidden;
}

.icon {
	height: 60px;
	height: 60px;
	margin-right: 5px;
	background-color: #333;
	vertical-align: middle;
}

header span {
	margin-left: 5px;
	font-size: 10pt;
}

p, li, span {
	font-family: serif;
}

p {
	margin-top: 1.68em;
}

h2 {
	position: relative;
	background-color: white;
	margin-left: 10px;
}

h1 {
	font-size: 30pt;
	margin: 20px 0 0 0;
}

h1 a, h1 a:visited {
	text-decoration: none;
	color: #575757;
}

a {
	color: #2A5880;
}

a:visited {
	color: #565087;
}

#tagline {
	margin: -5px 0 10px 0;
}

li {
	list-style: square;
}

.date {
	font-size: 10pt;
	color: #808080;
}

footer {
	font-size: 10pt;
	padding-bottom: 20px;
}

.footer-focus {
	margin: 20px 5px 0 0;
	overflow: hidden;
	display: inline-block;
	max-width: 50%;
	min-width: 110px;
	vertical-align: top;
}

.footer-focus span {
	text-overflow: clip;
}

footer img {
	float: left;
}

@media (max-width: 500px) {
	ul {
		-webkit-padding-start: 5px;
	}

	#audio-album {
		display: none;
	}
}

