html, body {
	height: 100%;
	margin: 0;
}

body {
	margin: auto;
	width: 520px;
	overflow-x: hidden;
	color: #575757;
	font-family: 'Times New Roman', serif;
}



h1 a, h1 a:visited {
	text-decoration: none;
	color: #575757;
}

#tagline {
	margin: -5px 0 10px 0;
}

header span {
	margin-left: 5px;
	font-size: 10pt;
}





#content {
	background-color: white;
}

header, footer, main {
	max-width: 500px;
	background-color: white;
	padding: 0 20px;
	overflow: hidden;
}

p {
	margin-top: 1.68em;
}

h2 {
	position: relative;
	background-color: white;
	margin-left: 10px;
}

h1 {
	font-size: 30pt;
	margin: 20px 0 0 0;
}

a {
	color: #2A5880;
}

a:visited {
	color: #565087;
}

li {
	list-style: square;
}

dt, dd {
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: top;
}

dt {
	width: 30%;
	text-align: right;
}

dd {
	width: 60%;
	margin-left: 10px;
}




footer {
	font-size: 10pt;
	padding-bottom: 20px;
}

.footer-focus {
	margin: 20px 5px 0 0;
	overflow: hidden;
	display: inline-block;
	max-width: 50%;
	min-width: 110px;
	vertical-align: top;
	transition: opacity 1s;
	opacity: 1.0;
}

.footer-focus.hidden {
	opacity: 0.0;
}

.footer-focus span {
	text-overflow: clip;
}

footer img {
	float: left;
}

.icon {
	height: 60px;
	width: 60px;
	margin-right: 5px;
	background-color: #808080;
	vertical-align: middle;
}




@media (max-width: 500px) {
	ul {
		-webkit-padding-start: 5px;
	}

	#audio-album {
		display: none;
	}


	#content, body {
		width: 100%;
	}
}


.divider {
	height: 12px;
	background: repeating-linear-gradient(
	  0deg,
	  #808080,
	  #808080 2px,
	  #fff 2px,
	  #fff 4px
	);
	width: 510px;
	margin-left: 8px;
	border-left: 2px solid #808080;
}

.divider.large {
	height: 20px;
}

main .divider {
	margin-left: -12px;
}

h2::before {
  background: repeating-linear-gradient(
	  0deg,
	  #808080,
	  #808080 2px,
	  #fff 2px,
	  #fff 4px
	);
  content: '';
  height: 12px;
  position: absolute;
  width: 17px;
  left: -22px;
  top: 8px;
  z-index: 10;
  border-left: 2px solid #808080;

}

h2::after {
	background: repeating-linear-gradient(
	  0deg,
	  #808080,
	  #808080 2px,
	  #fff 2px,
	  #fff 4px
	);
  content: '';
  height: 12px;
  position: absolute;
  width: 100%;
  margin-left: 6px;
  top: 8px;
}

