body {
	margin: 0px;
	background-color: black;
}

video, #video-overlay {
	position: absolute;
	left: 0;
	top: 0;
}

#video-overlay {
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0.5)), color-stop(35%,rgba(0,0,0,1)), color-stop(65%,rgba(0,0,0,1)), color-stop(90%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,1) 35%,rgba(0,0,0,1) 65%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,1) 35%,rgba(0,0,0,1) 65%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,1) 35%,rgba(0,0,0,1) 65%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,1) 35%,rgba(0,0,0,1) 65%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

	z-index: 5;
}

#outer {
	background-image: url(/images/bg.png);

	position: relative;

	width: 100%;
	height: 100%;
	
	box-sizing: border-box;

    padding-top: 10px;

	text-align: center;

	background-color: white;
}

p {
	margin: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}

p#navigation {
	padding-bottom: 2px;
}

h1 {
	margin-bottom: -5px;
}

section {
	background-color: rgba(0,0,0,0);
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 320px;
	visibility: hidden;
	padding: 0px 5px;
}

.shown-section {
	visibility: visible;
}

.portrait {
	width: 180px;
}

.section-link, a {
	cursor: pointer;
	text-decoration: underline;
	color: black;
}

h1 > a {
	text-decoration: none;
}

footer {
	padding: 0px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.bg-control {
	cursor: pointer;
	transition: height 0.5s;
	height: 10px;
	width: calc(300px / 3);
	display: inline-block;
	vertical-align: bottom;
}

.bg-control.selected {
	height: 20px;
}

.bg-control:nth-of-type(1) { background-color: #555; }
.bg-control:nth-of-type(2) { background-color: #999; }
.bg-control:nth-of-type(3) { background-color: #ccc; }

#boring-bg {
	width: 100%;
	height: 100%;
	background-color: blue;
	position: absolute;
	top: 0;
}

.project-icon {
	cursor: pointer;
	width: 65px;
	height: 65px;
	margin: 2px 2px 0px 2px;
	display: inline-block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.project-icon:hover, .project-icon.selected {
	filter: grayscale(0);
    -webkit-filter: grayscale(0);

}

.project-description {
	font-size: 11px;
	padding: 0px;
	height: 26px;
}


/* 3D stuff */

#view {
	perspective: 2000px;
}

#three-d-content {
	position: relative;
	width: 100%;
	height: 100%;

    transform-style: preserve-3d;

    transition: transform 0.2s;

}

.rect-side, .outer {
	position: absolute;
	background-repeat: repeat;
}

#outer-wrap {
	width: 300px;
	margin: 80px auto;
}

#outer-front {
	width: 300px;
	height: 450px;
}
#outer-right { 
	background-image: url(/images/bg4.png);
	transform-origin: top left;
	transform: translateX(300px) rotateY(-270deg);
	height: 450px;
	width: 70px;
}
#outer-left { 
	background-image: url(/images/bg3.png);
	transform: rotateY(270deg) translateZ(70px);
	transform-origin: top right;
	height: 450px;
	width: 70px;
}
#outer-back { 
	transform: translateZ(-70px);
	width: 300px;
	height: 450px;
}
#outer-top {
	background-image: url(/images/bg2.png);
	transform: rotateX(270deg);
	transform-origin: center top;
	width: 300px;
	height: 70px;
}
#outer-bottom {
	background-image: url(/images/bg2.png);
	transform: translateY(450px) rotateX(-90deg);
	transform-origin: center top;
	width: 300px;
	height: 70px;
}











