.chart-container {
	width: 100%;
	margin-top: -20px;
}

#attempts-list dd {
	font-weight: bold;
}

#total-hours em, #attempts-list dd {
	color: #b35151;
}

.expense-total {
  padding-top: 20px;
  font-size: 20px;
  text-transform: lowercase;
}

.date {
	font-size: 10pt;
	color: #808080;
  float: right;
}

#resume h1,  #resume h2, #resume h3, #resume li {
  text-transform: none;
}

#resume li {
  font-size: 10pt;
}

#resume p, #resume ul {
  margin: 5px 0;
}

#resume p em {
  float: right;
}