<div id="sect-container">
		<h2>Education</h2>
		<div id="education" class="main_sect">
				<h3>University of Washington, Seattle
					Autumn 2011 – Present</h3>
				<ul>
					<li>3.69 cumulative GPA</li>
					<li>Calculus Series, Physics, numerous CSE courses</li>
					<li>Dean's List every quarter enrolled</li>
				</ul>
				
				<h3>Garfield High School
					Autumn 2009 – Spring 2011</h3>
				<ul>
					<li>3.83 cumulative GPA</li>
					<li>Washington State Honors (Top 10% of Washington’s graduating class)</li>
					<li>Four years of Japanese language classes</li>
					<li>Departmental award for Computer Science</li>
				</ul>
		</div>

		<h2>Technical Skills</h2>
		<div id="tech" class="main_sect">
			<h3>Languages</h3>
				<div id="languages">
					<div>
						<h4>Proficient in:</h4>
						<ul>
							<li>Java</li>
							<li>JavaScript</li>
						</ul>
					</div>
					<div>
						<h4>Well-versed in:</h4>
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>PHP</li>
							<li>UNIX Shell Scripting</li>
						</ul>
					</div>
					<div>
						<h4>Exposed to:</h4>
						<ul>
							<li>Python</li>
							<li>C</li>
							<li>Scheme</li>
							<li>SQL</li>
						</ul>
					</div>
					<div>
						<h4>Willing to learn:</h4>
						<ul>
							<li>Anything!</li>
						</ul>
					</div>
				</div>
			<div id="classes">
			<h3>Classes</h3>
				<dl>
				<dt>AP Computer Science++</dt>
				<dd>
					A high school introduction to object oriented programming taught in Java with an introduction in Scheme.
					Worked on multiple group projects an ATM simulator with swing and a side-scrolling shooter. Received a 5
					on the exam 
			  </dd>
			  <dt>CSE 143: Introductory Programming II</dt>
			  <dd>
			  	An introductory programming class at the UW taught in Java. Focused on data structures, inheritance and
			  	recursion. Received a 3.9 (within top 25 students out of 500 enrolled) in a notoriously competitive environment.
			  </dd>
			  <dt>CSE 311: Discrete Mathematics</dt>
			  <dd>
			  	Set theory, cryptography, finite state machines, propositional logic, language representation and more.
			  </dd>
			  <dt>CSE 351: The Hardware Software Interface</dt>
			  <dd>
			  	An overview of basic low level computer mechanics. Assembly code analysis, bit representation of floats, integers,
			  	arrays, structures. Implemented malloc and free on a simulated heap. Cache accesses and address abstractions and 
			  	introduction to the call stack.</dd>				
				<dt>CSE 154: Web Programming</dt>
				<dd>
					Broad survey of web technologies including HTML, CSS, Javascript, SQL, and PHP. <a>Weekly website
					development projects.</a></dd>
				</dl>
			</div>
			
			<h3>Technologies Used</h3>
				<dl>
				<dt>Programs<dt>
				<dd>Git, SVN, Eclipse, Coda 2, Photoshop, GDB</dd>
				
				<dt>Operating Systems</dt>
				<dd>Linux, OSX</dd>
				
				<dt>Libraries</dt>
				<dd>JQuery, ImpactJS, Backbone, Swing</dd>
				</dt>		
		</div>

		<h2>Work Experience</h2>
		<div id="work" class="main_sect">
		
				<h3>UW Dept. of Occupational and Envr. Health Sciences
					July 2012 – Present</h3>
				<ul>
					<li>Worked in a lab producing air-monitoring devices.</li>
					<li>Assembled devices at residential sites in South Seattle.</li>
				</ul>
				
				<h3>McNelis Architects
					October 2010 – June 2011</h3>
				<ul>
					<li>General AutoCAD and Photoshop work</li>
					<li>Organizing and file management</li>
				</ul>
				
				<h3>Pacific Studios
					July 2011 – September 2011</h3>
				<ul>
					<li>Floor hand, helped with cleaning and organizing.</li>
				</ul>

		</div>

		<h2>Volunteer Experience</h2>
		<div id="volunteer" class="main_sect">
				<h3>Nature Consortium
					June 2009 – May 2011 (On and off)</h3>
				<ul>
					<li>Cleared Duwamish Greenbelt of trash and invasive species.</li>
				</ul>
				
				<h3>Seattle Architecture Foundation
					July 2010</h3>
				<ul>
					<li>Docent at a public downtown exhibit.</li>
					<li>Assistant guide for a family-oriented tour of Seattle Architecture.</li>
				</ul>
		</div>
	</div>